p{
    color: black;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 4rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    margin: 2rem;
    padding: 2rem;
    border: 5px solid rgb(134, 216, 134);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}