p{
    color: black;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 6rem;
    font-family: 'Roboto Mono', monospace;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-container {
    margin: 2rem;
    padding: 2rem;
    border: 5px solid rgb(134, 216, 134);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 1rem;
}
.card-title {
    color: white;
    padding-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
}
.icon{
    height: 5rem;
    padding-bottom: 5px;
    padding-top: 5px;
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    background-color: white;
    border-radius: 10%; 
    width: 6rem;
    height: 7.3rem;
    flex-direction: column;
}
.info-card-title{
    color: white;
    padding-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
    margin: 1rem;
}


