<h1>A Bit About Me...</h1>

<div class="container">
    <div class="card-container">
      <div class="info-card">
        <h4 class="info-card-title">Hey there! I'm Sara, a full-stack web developer.</h4>
        <div class="card-text">
          <p class="content">
            I am driven by a passion for developing websites that are both aesthetically pleasing and functionally robust for a smooth user experience.
          </p>
          <p class="content">
            My inquistive nature and love for learning gravitated me towards the ever-evolving nature of the tech industry, and the endless opportunities for exploration it provides.
            In my spare time, you can find me creating digital art where I often become immersed in experimenting with different textures and colors. 
          </p>
          <p class="content">
            My drive for crafting applications stems from the blend of creativity and problem-solving that coding offers.
          I am dedicated to continue evolving and making a positive impact, in this dynamic field. 
          </p>
        </div>
      </div>
    </div>

    <h1>My Skills</h1>

    <div class="skills">
      <h4 class="card-title">Front-End</h4>
      <div class="icon-container">
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=js" />
          <p>JavaScript</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=html" />
          <p>HTML5</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=css" />
          <p>CSS3</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=sass" />
          <p>Sass</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=ts" />
          <p>TypeScript</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=bootstrap" />
          <p>Bootstrap</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=angular" />
          <p>Angular</p>
        </div>
      </div>
    </div>
    
    <div class="skills">
      <h4 class="card-title">Back-End</h4>
      <div class="icon-container">
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=ruby" />
          <p>Ruby</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=rails" />
          <p>Rails</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=postgres" />
          <p>PostgreSQL</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=firebase" />
          <p>Firebase</p>
        </div>
      </div>
    </div>

    <div class="skills" style="margin-bottom: 2rem;">
      <h4 class="card-title">Other</h4>
      <div class="icon-container">
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=vscode" />
          <p>VS Code</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=postman" />
          <p>Postman</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=github" />
          <p>GitHub</p>
        </div>
        <div class="box">
          <img class="icon" src="https://skillicons.dev/icons?i=git" />
          <p>Git</p>
        </div>
      </div>
    </div>
</div>

