@media (max-width: 767px) {
  .col-sm-7 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

p{
    color: black;
}

.card-container {
  margin: 4rem;
  padding: 2rem;
  border: 5px solid rgb(134, 216, 134);
  border-radius: 12px;
  // background-color: rgb(36, 62, 48);
}
.card-title{
  font-family: 'Roboto Mono', monospace;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
}

.info-card {
  margin: 2rem;
}

.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  flex-direction: column;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.slide {
  border: 1px solid white;
}
