<h1>Get In Touch</h1>

<div class="container">
    <div class="card-container">

        <div class="logo-container">
            <a target="_blank">
                <i class="fa fa-envelope"></i>
                <p>saralou@gmail.com</p>
            </a>
        </div>
    
        <div class="logo-container">
            <a href="https://github.com/saralouxh?tab=repositories" target="_blank">
                <i class="fa fa-github"></i>
                <p>github/saralouxh</p>
            </a>
        </div>
    
        <div class="logo-container">
            <a href="https://www.linkedin.com/in/sara-hampson/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
                <p>linkedIn/saralouxh</p>
            </a>
            
        </div>
       
    </div>
    
</div>

