<h1>Get in touch</h1>

<div class="container">
    <div class="card-container">

        <div class="logo-container">
            <i class="fa fa-envelope"></i>
            <p>saralou@gmail.com</p>
        </div>
    
        <div class="logo-container">
            <i class="fa fa-github"></i>
            <p>github/saralouxh</p>
        </div>
    
        <div class="logo-container">
            <i class="fa fa-linkedin-square"></i>
            <p>linkedIn/saralouxh</p>
        </div>
       
    </div>
    
</div>

